<h1>Main view.</h1>

<div ng-show="currentUser">
  <form class="" action="/projects" method="post">
    <input type="text" name="projectTitle" value="" placeholder="Project title" ng-model="pt">
    <input type="text" name="projectDescription" value="" placeholder="Project Description" ng-model="pd">
    <button type="button" ng-click="createProject()" name="button">Create new project</button>
  </form>
</div>

<div ng-hide="currentUser">
  <input type="text" name="name" value="" ng-model="un">
  <input type="password" name="name" value="" ng-model="pw">
  <button type="button" name="button" ng-click="signin()">Log In</button>
</div>

<div ng-show="currentUser">
  <p>
    Hey, {{currentUser}}
  </p>
  <a href ng-click="logout()">Logout</a>
</div>


<div style="color:red; border:1px solid black" ng-repeat="project in projects | filter:st">
  <a href="#"> {{ project.projectTitle }} </a>
  <p>{{ project.projectDescription }}</p>
  <span> By {{ project.username }}</span>
</div>
