<h1>Sign up here</h1>

<input type="text" name="username" value="" placeholder="username" ng-model="un">
<input type="password" name="password" value="" placeholder="password" ng-model="pw">
<button type="button" name="button" ng-click="createUser()">Register</button>
