<!DOCTYPE html>
<html ng-app="testerino">
  <head>
    <meta charset="utf-8">
    <title>Testerino</title>
  </head>
  <body>
    <h1><a href="#/">Testerino</a></h1>

    <form class="" action="/projects" method="post">
      <input type="text" name="projectTitle" value="" placeholder="Project title" ng-model="pt">
      <input type="text" name="projectDescription" value="" placeholder="Project Description" ng-model="pd">
      <button type="button" ng-click="createProject()" name="button">Create new project</button>
    </form>
    <a href="#/register">Don't have an account? Make one.</a>
    <br><br>

    <form class="search" action="/results" method="get">
      <label for="searchTerms"></label>
      <input type="text" name="searchTerms" placeholder="Type here to search" ng-model="st" id="searchTerms">
    </form>

    <div ng-view></div>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
